.application-process {
    @include mg_rule(top, 84px);

    &__header {
        .wrapper {
            h6 {
                color: map-get($colors, primary_color);
                font-size: map-get($font,font-xlix);
                font-weight: bold;
                text-align: center;

                @include reverse_breakpoint("tablet") {
                    font-size: map-get($font, font-xxvi);
                }
            }

            background-color: map-get($colors, bright-blue);
        }

        &__title {
            padding: 46px 0 54px;
        }

        &__buttons {
            @include flex_properties(normal, normal);

            button {
                padding: 27px 0;
                flex-basis: 25%;
                border: none;
                background-color: map-get($colors, light-blue);
                color: map-get($colors, primary_color);
                font-size: map-get($font, font-xiv);
                font-weight: bold;
                @include transition-effect();

                &:hover {
                    background-color: map-get($colors, black-blue);
                }

                @include reverse_breakpoint("mini-ipad") {
                    width: 50%;
                    background-color: map-get($colors, black-blue);
                    display: none;
                }
            }

            @include reverse_breakpoint("mini-ipad") {
                padding-bottom: 50px;
                flex-direction: column;
                align-items: center;
            }
        }

        .eligibility {
            @include reverse_breakpoint("mini-ipad") {
                display: block;
            }

            &:hover~button {
                display: block;
            }

            &::after {
                @include reverse_breakpoint("mini-ipad") {
                    @include font-iconafter("\f0d7", 14px);
                    margin-left: 10px;
                }
            }
        }
    }

    @at-root &__content {
        .wrapper {
            @include flex_properties(normal, normal);
        }

        @at-root &__leftpart {
            padding: 5.1% 7% 7.3%;
            flex-basis: 51.3%;
            background-color: map-get($colors, smoke-color);

            @at-root &__heading {
                color: map-get($colors, orange_color);
                font-size: map-get($font, font-xxiv);
            }

            @at-root &__heading2 {
                @include mg_rule(top, 38px);
                color: map-get($colors, light-black);
                font-size: map-get($font, font-xxiv);
            }

            @at-root &__rules {
                @include mg_rule(top, 28px);

                li {
                    width: -webkit-fill-available;
                    @include mg_rule(bottom, 15px);
                    color: map-get($colors, lighter-black);
                    font-size: map-get($font, font-xxi);

                    &::before {
                        content: "\f111";
                        color: map-get($colors, orange_color);
                        font-family: "fontAwesome";
                        font-size: map-get($font, font-vii);
                        vertical-align: middle;
                        @include mg_rule(right, 3%);
                    }
                }
            }

            @at-root &__schools-title {
                color: map-get($colors, light-black);
                font-size: map-get($font, font-xxiv);
            }

            @at-root &__schools {
                @include flex_properties(normal, normal);
                @include mg_rule(top, 31px);
                flex-direction: column;
                row-gap: 28px;

                &__name {
                    font-size: map-get($font, font-xxiv);
                    color: map-get($colors, light-black);
                }

                a {
                    color: map-get($colors, lighter-black);
                    font-size: map-get($font, font-xx);
                    @include transition-effect();

                    &:hover {
                        @include hover-effect();
                    }
                }
            }

            @include reverse_breakpoint("mini-ipad") {
                flex-basis: 100%;
            }
        }

        &__rightpart {
            width: 464px;

            @include reverse_breakpoint("mini-ipad") {
                display: none;
            }
        }
    }

    &__bottom {
        .wrapper {
            background: map-get($colors, bright-blue);
            padding: 68px 0 72px;

            h4 {
                color: map-get($colors, primary_color);
                font-size: map-get($font, font-xxxii);
                font-weight: bold;
                text-align: center;

                @include reverse_breakpoint("mini-ipad") {
                    font-size: map-get($font, font-xxi);
                }
            }
        }

        @at-root &__heading {
            color: map-get($colors, dark_gray);
            font-size: map-get($font,font-xxx);
            font-weight: bold;
            text-align: center;
        }

        @at-root &__buttons {
            @include mg_rule(top, 11px);
            @include flex_properties(center, normal);
            column-gap: 19px;

            li {
                width: 155px;
                padding: 12px 0;
                border-radius: 8px;
                background-color: map-get($colors, black-blue);

                a {
                    width: 100%;
                    color: map-get($colors, primary_color);
                    font-weight: bold;
                    text-align: center;
                }

                @include transition-effect();

                &:hover {
                    background-color: map-get($colors, orange_color);
                }

                @include reverse_breakpoint("mobile") {
                    width: 125px;
                }
            }
        }
    }
}