.banner {
    position: relative;
      
    &__header {
        position: absolute;
        bottom:11%;
        left: 50%;
        color: map-get($colors, primary_color);
        font-size: 50px;
        font-weight: bold;
        transform: translateX(-50%);
        white-space: nowrap;
        @include reverse_breakpoint("pc") {
            font-size: 40px;
        }
        @include reverse_breakpoint("mini-ipad") {
            font-size: 30px;
        }
        @include reverse_breakpoint("tablet") {
            font-size: 17px;
        }
    }

    figure {
        height: 569px;
}
}