.success {

    @include mg_rule(top, 84px);

    @at-root &__exceptional {
        @include flex_properties(normal, normal);

        @include reverse_breakpoint("mini-ipad") {
            flex-direction: column-reverse;
        }

        position: relative;

        figure {
            width: 774px;
            height: 509px;

            @include reverse_breakpoint("mini-ipad") {
                width: auto;
            }
        }

        @at-root &__header-box {
            width: 64.8%;
            padding: 56px 0 64px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: map-get($colors, dark_blue);

            @include reverse_breakpoint("mini-ipad") {
                width: 100%;
                top: 63%;
            }

            @include reverse_breakpoint("tablet") {
                top: 61.2%;
            }
            
        }

        @at-root &__para {
            @include mg_rule(top, 217px);
            padding: 0 3% 0 10%;
            flex-basis: 54.7%;
            color: map-get($colors, faint_black);
            font-size: map-get($font,font-xxiii);
            text-align: left;
            box-sizing: border-box;

            @include reverse_breakpoint("mini-ipad") {
                text-align: center;
                padding: 0;
            }

            @include reverse_breakpoint("mobile-x") {
                @include mg_rule(top, 111px);
            }

            @include reverse_breakpoint("mobile") {
                @include mg_rule(top, 145px);
            }
        }
    }

    &__design {
        @include flex_properties(normal, normal);
        position: relative;

        @include reverse_breakpoint("mini-ipad") {
            flex-direction: column;
        }

        figure {
            width: 565px;
            height: 566px;
            flex-basis: 58.2%;

            @include reverse_breakpoint("mini-ipad") {
                width: auto;
            }
        }


        @at-root &__header-box {
            width: 64.8%;
            padding: 55px 80px 64px;
            position: absolute;
            top: 0;
            right: 0;
            background-color: map-get($colors, orange_color);
            box-sizing: border-box;

            @include reverse_breakpoint("mini-ipad") {
                width: 100%;
                top: 57%;
            }

            @include reverse_breakpoint("tablet") {
                top: 43.7%;
            }

            @include reverse_breakpoint("mobile-x") {
                top: 41.3%;
            }

            @include reverse_breakpoint("mobile") {
                padding: 30px 80px;
                top: 38.3%;
            }
        }

        @at-root &__para {
            @include mg_rule(top, 261px);
            padding: 0 13% 0 6%;
            flex-basis: 53.7%;
            color: map-get($colors, lighter-black);
            font-size: map-get($font,font-xxiii);
            text-align: left;
            box-sizing: border-box;

            @include reverse_breakpoint("mobile-x") {
                @include mg_rule(top, 155px);
            }
        }
    }

    &__nurturing {
        @include flex_properties(normal, normal);
        position: relative;

        @include reverse_breakpoint("mini-ipad") {
            flex-direction: column-reverse;
        }

        figure {
            width: 674px;
            height: 516px;
            flex-basis: 56.2%;

            @include reverse_breakpoint("mini-ipad") {
                width: auto;
            }
        }

        @at-root &__header-box {
            width: 64.8%;
            padding: 54px 16px 63px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: map-get($colors, faint_blue);
            box-sizing: border-box;

            @include reverse_breakpoint("mini-ipad") {
                width: 100%;
                top: 57%;
            }

            @include reverse_breakpoint("tablet") {
                top: 46%;
            }

            @include reverse_breakpoint("mobile") {
                top: 39%;
            }
        }

        @at-root &__para {
            @include mg_rule(top, 215px);
            padding: 0 7% 0 10.2%;
            flex-basis: 52.7%;
            color: map-get($colors, faint_black);
            font-size: map-get($font,font-xxiii);
            text-align: left;
            box-sizing: border-box;

            @include reverse_breakpoint("mobile-x") {
                @include mg_rule(top, 160px);
            }

            @include reverse_breakpoint("mobile") {
                @include mg_rule(top, 174px);
            }
        }
    }

    h3 {
        color: map-get($colors, primary_color);
        font-size: 39px;
        text-align: center;
        letter-spacing: 1px;

        @include reverse_breakpoint("tablet") {
            font-size: map-get($font,font-xx);
        }
    }
    .dropper-image,.dropper-image-right {
        width: 50px;
        height: 60px;
        position: absolute;
        bottom: -30px;
        left: 34%;
        @include reverse_breakpoint("mini-ipad") {
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .dropper-image-right {
        left: 54.3%;
        @include reverse_breakpoint("mini-ipad") {
            left: 50%;
            transform: translateX(-50%);
        }
    }

}