.what-parents-saying {
    @include mg_rule(top, 83px);

    @at-root &__header {
        .wrapper {
            padding: 24px 0;
            background-color: map-get($colors, dark_orange);

            h5 {
                color: #fff;
                font-size: map-get($font, font-xlii);
                text-align: center;

                @include reverse_breakpoint("tablet") {
                    font-size: map-get($font, font-xxviii);
                }
            }
            
        }
    }

    @at-root &__content {
        flex-basis: 46%;
        margin: 4% 4.2% 5%;

        p {
            color: map-get($colors, primary_color);
            font-size: map-get($font, font-xxvi);
            text-align: center;
            line-height: 43px;

            @include mg_rule(bottom, 16px);

            @include reverse_breakpoint("pc") {
                font-size: 20px;
                line-height: initial;
            }

            @include reverse_breakpoint("mini-ipad") {
                width: 100%;
            }

            @include reverse_breakpoint("tablet") {
                font-size: map-get($font, font-xxiii);
            }
        }

        span {
            display: block;
            color: map-get($colors, primary_color);
            color: map-get($colors, primary_color);
            font-size: map-get($font, font-xix);
            font-weight: bold;
            text-align: center;
        }
    }


    &__slider {

        .wrapper {
            padding: 94px 40px;
            background-color: map-get($colors, orange_color);
            box-sizing: border-box;

            @include reverse_breakpoint("mini-ipad") {
                padding: 0;
            }
        }

        @include reverse_breakpoint("mini-ipad") {
            flex-direction: column;
        }

        @at-root &__contents {
            @include flex-properties(normal, center);

            @include reverse_breakpoint("mini-ipad") {
                flex-direction: column;
                row-gap: 50px;
            }
        }
    }

    figure {
        width: 512px;
        height: 343px;
        @include mg_rule(left,4.2%);
        @include reverse_breakpoint("mini-ipad") {
            width: 100%;
        }
    }

}