// header styling here 
header {
    @at-root   
    .header__top {
        @include flex_properties(flex-end,center);
        padding: 2px 0;
        background-color:map-get($colors,orange_color);
        &__menus1 {
            @include mg_rule(right,1.7%);
            flex-basis: 67.5%;
            ul
               {
                @include flex_properties(space-between,center);                
               } 
            li {
                    @at-root
                    .search {
                        text-indent: -9999px;
                        &::before {
                            @include font-icon("\f002",12px);
                            margin-left: 2%;
                        }
                        &::after {
                            @include font-iconafter("|",12px);
                            text-indent: 0;
                        }
                    }

                    a {
                        padding: 0 23px;
                        border-right: map-get($font,font-i) solid map-get($colors,primary_color);
                        color: map-get($colors, primary_color);
                        font-size: map-get($font,font-x);
                        white-space: nowrap;
                    }

                    @at-root
                    .drop_icon::after {
                        @include font-iconafter("\f0d7",12px);
                        margin-left: 6%;
                    }

                    ul {
                        display: none;            
                    }

                }
            }
        
        &__menus2 {
            @include flex_properties(space-between,center);
            @include mg_rule(right,2%);
            flex-basis: 12%;
            li {
                img {
                    width:  1vw;
                    height: 5vh;
                    color: map-get($colors,primary_color);
                }
            }
            @include reverse_breakpoint("mini-ipad") {
                width: 20%;
            }
        }
        @include reverse_breakpoint("mini-ipad") {
            flex-direction: column;
        }
    }

    .header__bottom {
        padding: 18px 0;
        display: flex;
        align-items: center;
         @include flex_properties(normal,center);
        h1 {
            flex-basis: 10%;
        }

        &__menus {
            @include flex_properties(space-between,center);
            @include mg_rule(left,auto);
            flex-basis: 79.7%;
            li a {
                padding: 0 33px;
                border-right: 1px solid map-get($colors,faint_black);
                color: map-get($colors,orange_color);
                font-size: map-get($font,font-xi);
                white-space: nowrap;
            }

            li:last-child a {
                padding-right: 0;
                border-right: none;
            }
        }
    }
}

