@charset "UTF-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  height: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 87.1%;
  margin: 0 auto; }

.header__top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  row-gap: 20px;
  padding: 3px 0;
  background-color: #F4910B;
  position: relative; }
  .header__top__menus1 {
    margin-right: 5.1%;
    flex-basis: 66%; }
    .header__top__menus1 ul {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .header__top__menus1 ul li {
        position: relative;
        text-align: center; }
        .header__top__menus1 ul li:hover > ul {
          display: flex; }
        .header__top__menus1 ul li .search {
          padding: 0 21px;
          text-indent: -9999px; }
          .header__top__menus1 ul li .search::before {
            content: "";
            float: right;
            font-family: "fontAwesome";
            font-size: 14px;
            text-indent: 0;
            margin-left: 2%;
            text-indent: -28px; }
          @media screen and (max-width: 768px) {
            .header__top__menus1 ul li .search {
              display: none; } }
        .header__top__menus1 ul li a {
          margin-bottom: 3px;
          width: 100%;
          padding: 0 12px;
          border-right: 1px solid #fff;
          color: rgba(255, 255, 255, 0.7);
          font-size: 12px;
          white-space: nowrap;
          transition: All ease-in-out 0.3s;
          -webkit-transition: All ease-in-out 0.3s;
          -moz-transition: All ease-in-out 0.3s;
          -ms-transition: All ease-in-out 0.3s;
          -o-transition: All ease-in-out 0.3s;
          transition: All ease-in-out 0.3s;
          -webkit-transition: All ease-in-out 0.3s;
          -moz-transition: All ease-in-out 0.3s;
          -ms-transition: All ease-in-out 0.3s;
          -o-transition: All ease-in-out 0.3s; }
          @media screen and (max-width: 1280px) {
            .header__top__menus1 ul li a {
              border-right: none; } }
          @media screen and (max-width: 995px) {
            .header__top__menus1 ul li a {
              border-right: none; } }
          .header__top__menus1 ul li a:hover {
            color: #0000ff; }
            @media screen and (max-width: 768px) {
              .header__top__menus1 ul li a:hover {
                color: #fff; } }
          .header__top__menus1 ul li a:hover {
            color: #0000ff; }
        .header__top__menus1 ul li .drop_icon {
          padding: 0 19px; }
          .header__top__menus1 ul li .drop_icon::after {
            content: "";
            font-family: "fontAwesome";
            font-size: 12px;
            margin-left: 6%; }
        .header__top__menus1 ul li ul {
          width: 100%;
          padding-right: 20px;
          display: none;
          position: absolute;
          top: 30px;
          left: 0;
          flex-direction: column;
          background-color: #000; }
          .header__top__menus1 ul li ul li {
            width: 100%; }
            .header__top__menus1 ul li ul li a {
              width: 100%;
              border: none;
              color: #F4910B;
              text-align: center;
              transition: All ease-in-out 0.3s;
              -webkit-transition: All ease-in-out 0.3s;
              -moz-transition: All ease-in-out 0.3s;
              -ms-transition: All ease-in-out 0.3s;
              -o-transition: All ease-in-out 0.3s;
              transition: All ease-in-out 0.3s;
              -webkit-transition: All ease-in-out 0.3s;
              -moz-transition: All ease-in-out 0.3s;
              -ms-transition: All ease-in-out 0.3s;
              -o-transition: All ease-in-out 0.3s; }
              .header__top__menus1 ul li ul li a:hover {
                color: #0000ff; }
              .header__top__menus1 ul li ul li a:hover {
                color: #0000ff; }
          @media screen and (max-width: 768px) {
            .header__top__menus1 ul li ul {
              z-index: 1;
              top: 0;
              left: 100%; } }
      @media screen and (max-width: 768px) {
        .header__top__menus1 ul {
          flex-direction: column;
          row-gap: 10px; } }
  .header__top__menus2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2%;
    flex-basis: 12%; }
    @media screen and (max-width: 995px) {
      .header__top__menus2 {
        width: 35%;
        margin: auto; } }
    .header__top__menus2 li img {
      width: 16px;
      height: 16px;
      color: #fff; }
    @media screen and (max-width: 1280px) {
      .header__top__menus2 {
        flex-basis: 20%; } }
    @media screen and (max-width: 425px) {
      .header__top__menus2 {
        width: 50%; } }
  @media screen and (max-width: 995px) {
    .header__top {
      flex-direction: column; } }
  @media screen and (max-width: 768px) {
    .header__top {
      display: none; } }
  @media screen and (max-width: 995px) {
    .header__top {
      background-color: #000; } }

.header__bottom {
  padding: 22px 0;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: normal;
  align-items: center; }
  @media screen and (max-width: 995px) {
    .header__bottom {
      flex-direction: column;
      row-gap: 10px; } }
  @media screen and (max-width: 768px) {
    .header__bottom {
      display: none; } }
  .header__bottom h1 {
    flex-basis: 10%; }
    .header__bottom h1 a img {
      border: 1px solid #000; }
    @media screen and (max-width: 995px) {
      .header__bottom h1 {
        text-align: center; } }
  .header__bottom__menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: 0.6%;
    flex-basis: 76.3%; }
    .header__bottom__menus li a {
      padding: 0 43px;
      border-right: 1px solid rgba(0, 0, 0, 0.6);
      color: #F4910B;
      font-size: 14px;
      white-space: nowrap;
      transition: All ease-in-out 0.3s;
      -webkit-transition: All ease-in-out 0.3s;
      -moz-transition: All ease-in-out 0.3s;
      -ms-transition: All ease-in-out 0.3s;
      -o-transition: All ease-in-out 0.3s;
      transition: All ease-in-out 0.3s;
      -webkit-transition: All ease-in-out 0.3s;
      -moz-transition: All ease-in-out 0.3s;
      -ms-transition: All ease-in-out 0.3s;
      -o-transition: All ease-in-out 0.3s; }
      @media screen and (max-width: 995px) {
        .header__bottom__menus li a {
          font-size: 12px; } }
      @media screen and (max-width: 768px) {
        .header__bottom__menus li a {
          font-size: 10px; } }
      @media screen and (max-width: 425px) {
        .header__bottom__menus li a {
          font-size: 7px; } }
      .header__bottom__menus li a:hover {
        color: #0000ff; }
      .header__bottom__menus li a:hover {
        color: #0000ff; }
    .header__bottom__menus :last-child {
      padding: 0px;
      border: none; }
    @media screen and (max-width: 995px) {
      .header__bottom__menus {
        width: 100%;
        margin-left: 0; } }
    @media screen and (max-width: 768px) {
      .header__bottom__menus {
        margin-left: 1%; } }

.mobile-header {
  display: none;
  padding: 1.7% 5.4%;
  background: #F4910B; }
  .mobile-header__logo {
    width: 91px;
    height: 50px;
    background-color: #fff; }
  .mobile-header__menu {
    color: #fff;
    font-size: 38px;
    cursor: pointer; }
    .mobile-header__menu::after {
      content: "";
      font-family: "fontAwesome";
      font-size: 30px;
      margin-left: 5px; }
  .mobile-header__search {
    color: #fff;
    text-indent: -9999px; }
    .mobile-header__search::before {
      content: "";
      float: right;
      font-family: "fontAwesome";
      font-size: 30px;
      text-indent: 0; }
  @media screen and (max-width: 768px) {
    .mobile-header {
      display: flex;
      justify-content: space-between;
      align-items: center; } }

.banner {
  position: relative; }
  .banner__header {
    position: absolute;
    bottom: 11%;
    left: 50%;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    transform: translateX(-50%);
    white-space: nowrap; }
    @media screen and (max-width: 1280px) {
      .banner__header {
        font-size: 40px; } }
    @media screen and (max-width: 995px) {
      .banner__header {
        font-size: 30px; } }
    @media screen and (max-width: 768px) {
      .banner__header {
        font-size: 17px; } }
  .banner figure {
    height: 569px; }

.take-a-look {
  margin-top: 82px; }
  .take-a-look .wrapper {
    display: flex;
    justify-content: normal;
    align-items: normal;
    background-color: #F4910B; }
    @media screen and (max-width: 995px) {
      .take-a-look .wrapper {
        flex-direction: column-reverse; } }
    .take-a-look .wrapper figure {
      width: 775px;
      height: 508px; }
      @media screen and (max-width: 1440px) {
        .take-a-look .wrapper figure {
          width: auto; } }
  .take-a-look__content {
    padding-top: 100px;
    padding-left: 10.1%;
    flex-basis: 41.5%;
    box-sizing: border-box; }
    @media screen and (max-width: 995px) {
      .take-a-look__content {
        padding-left: 0; } }
    .take-a-look__content h2 {
      width: 88%;
      color: #fff;
      font-size: 39px;
      font-weight: bold; }
      @media screen and (max-width: 1280px) {
        .take-a-look__content h2 {
          font-size: 27px; } }
      @media screen and (max-width: 995px) {
        .take-a-look__content h2 {
          width: 100%;
          text-align: center; } }
      @media screen and (max-width: 768px) {
        .take-a-look__content h2 {
          font-size: 23px; } }
    .take-a-look__content__para {
      width: 85%;
      margin-top: 19px;
      color: #fff;
      font-size: 18px;
      letter-spacing: 1px;
      line-height: 26px; }
      @media screen and (max-width: 995px) {
        .take-a-look__content__para {
          width: 100%;
          text-align: center; } }
    @media screen and (max-width: 1280px) {
      .take-a-look__content {
        padding-top: 20px; } }
  .take-a-look__button {
    margin-top: 43px;
    padding: 2% 6.4% 2.5%;
    margin-top: 43px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    transition: All ease-in-out 0.3s;
    -webkit-transition: All ease-in-out 0.3s;
    -moz-transition: All ease-in-out 0.3s;
    -ms-transition: All ease-in-out 0.3s;
    -o-transition: All ease-in-out 0.3s; }
    .take-a-look__button:hover {
      background-color: #1B5788; }
    @media screen and (max-width: 995px) {
      .take-a-look__button {
        margin: 43px auto;
        display: block; } }
  .take-a-look__video {
    position: relative; }
    .play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      text-indent: -9999px; }
      .play-button::before {
        content: "";
        float: right;
        font-family: "fontAwesome";
        font-size: 111px;
        text-indent: 0;
        color: #fff; }

.success {
  margin-top: 84px; }
  .success__exceptional {
    display: flex;
    justify-content: normal;
    align-items: normal;
    position: relative; }
    @media screen and (max-width: 995px) {
      .success__exceptional {
        flex-direction: column-reverse; } }
    .success__exceptional figure {
      width: 774px;
      height: 509px; }
      @media screen and (max-width: 995px) {
        .success__exceptional figure {
          width: auto; } }
    .success__exceptional__header-box {
      width: 64.8%;
      padding: 56px 0 64px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #1B5788; }
      @media screen and (max-width: 995px) {
        .success__exceptional__header-box {
          width: 100%;
          top: 63%; } }
      @media screen and (max-width: 768px) {
        .success__exceptional__header-box {
          top: 61.2%; } }
    .success__exceptional__para {
      margin-top: 217px;
      padding: 0 3% 0 10%;
      flex-basis: 54.7%;
      color: rgba(0, 0, 0, 0.6);
      font-size: 23px;
      text-align: left;
      box-sizing: border-box; }
      @media screen and (max-width: 995px) {
        .success__exceptional__para {
          text-align: center;
          padding: 0; } }
      @media screen and (max-width: 540px) {
        .success__exceptional__para {
          margin-top: 111px; } }
      @media screen and (max-width: 425px) {
        .success__exceptional__para {
          margin-top: 145px; } }
  .success__design {
    display: flex;
    justify-content: normal;
    align-items: normal;
    position: relative; }
    @media screen and (max-width: 995px) {
      .success__design {
        flex-direction: column; } }
    .success__design figure {
      width: 565px;
      height: 509px;
      flex-basis: 58.2%; }
      @media screen and (max-width: 995px) {
        .success__design figure {
          width: auto; } }
    .success__design__header-box {
      width: 64.8%;
      padding: 55px 80px 64px;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #F4910B;
      box-sizing: border-box; }
      @media screen and (max-width: 995px) {
        .success__design__header-box {
          width: 100%;
          top: 57%; } }
      @media screen and (max-width: 768px) {
        .success__design__header-box {
          top: 43.7%; } }
      @media screen and (max-width: 540px) {
        .success__design__header-box {
          top: 41.3%; } }
      @media screen and (max-width: 425px) {
        .success__design__header-box {
          padding: 30px 80px;
          top: 38.3%; } }
    .success__design__para {
      margin-top: 261px;
      padding: 0 13% 0 6%;
      flex-basis: 53.7%;
      color: rgba(0, 0, 0, 0.5);
      font-size: 23px;
      text-align: left;
      box-sizing: border-box; }
      @media screen and (max-width: 540px) {
        .success__design__para {
          margin-top: 155px; } }
  .success__nurturing {
    display: flex;
    justify-content: normal;
    align-items: normal;
    position: relative; }
    @media screen and (max-width: 995px) {
      .success__nurturing {
        flex-direction: column-reverse; } }
    .success__nurturing figure {
      width: 674px;
      height: 516px;
      flex-basis: 56.2%; }
      @media screen and (max-width: 995px) {
        .success__nurturing figure {
          width: auto; } }
    .success__nurturing__header-box {
      width: 64.8%;
      padding: 54px 16px 63px;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #359FDA;
      box-sizing: border-box; }
      @media screen and (max-width: 995px) {
        .success__nurturing__header-box {
          width: 100%;
          top: 57%; } }
      @media screen and (max-width: 768px) {
        .success__nurturing__header-box {
          top: 46%; } }
      @media screen and (max-width: 425px) {
        .success__nurturing__header-box {
          top: 39%; } }
    .success__nurturing__para {
      margin-top: 215px;
      padding: 0 7% 0 10.2%;
      flex-basis: 52.7%;
      color: rgba(0, 0, 0, 0.6);
      font-size: 23px;
      text-align: left;
      box-sizing: border-box; }
      @media screen and (max-width: 540px) {
        .success__nurturing__para {
          margin-top: 160px; } }
      @media screen and (max-width: 425px) {
        .success__nurturing__para {
          margin-top: 174px; } }
  .success h3 {
    color: #fff;
    font-size: 39px;
    text-align: center;
    letter-spacing: 1px; }
    @media screen and (max-width: 768px) {
      .success h3 {
        font-size: 20px; } }

.application-period {
  margin-top: 83px; }
  .application-period .wrapper {
    background: #E5E5E5;
    padding: 70px 0 71px; }
    .application-period .wrapper h4 {
      color: #7A7C80;
      font-size: 33px;
      font-weight: bold;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .application-period .wrapper h4 {
          font-size: 21px; } }
  .application-period__heading {
    color: #7A7C80;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
  .application-period__buttons {
    margin-top: 11px;
    display: flex;
    justify-content: center;
    align-items: normal;
    column-gap: 19px; }
    .application-period__buttons li {
      width: 155px;
      padding: 12px 0;
      border-radius: 8px;
      background-color: #F4910B;
      transition: All ease-in-out 0.3s;
      -webkit-transition: All ease-in-out 0.3s;
      -moz-transition: All ease-in-out 0.3s;
      -ms-transition: All ease-in-out 0.3s;
      -o-transition: All ease-in-out 0.3s; }
      .application-period__buttons li a {
        width: 100%;
        color: #fff;
        font-weight: bold;
        text-align: center;
        transition: All ease-in-out 0.3s;
        -webkit-transition: All ease-in-out 0.3s;
        -moz-transition: All ease-in-out 0.3s;
        -ms-transition: All ease-in-out 0.3s;
        -o-transition: All ease-in-out 0.3s; }
        .application-period__buttons li a:hover {
          color: #0000ff; }
      .application-period__buttons li:hover {
        background-color: #1B5788; }
      @media screen and (max-width: 425px) {
        .application-period__buttons li {
          width: 125px; } }

.what-parents-saying {
  margin-top: 83px; }
  .what-parents-saying__header .wrapper {
    padding: 24px 0;
    background-color: #F27F0D; }
    .what-parents-saying__header .wrapper h5 {
      color: #fff;
      font-size: 42px;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .what-parents-saying__header .wrapper h5 {
          font-size: 28px; } }
  .what-parents-saying__content {
    flex-basis: 41%;
    margin: 3% 7%; }
    .what-parents-saying__content p {
      color: #fff;
      font-size: 26px;
      text-align: center;
      line-height: 43px;
      margin-bottom: 20px; }
      @media screen and (max-width: 1280px) {
        .what-parents-saying__content p {
          font-size: 20px;
          line-height: initial; } }
      @media screen and (max-width: 995px) {
        .what-parents-saying__content p {
          width: 100%; } }
      @media screen and (max-width: 768px) {
        .what-parents-saying__content p {
          font-size: 23px; } }
    .what-parents-saying__content span {
      display: block;
      color: #fff;
      color: #fff;
      font-size: 19px;
      font-weight: bold;
      text-align: center; }
  .what-parents-saying__slider .wrapper {
    padding: 94px;
    background-color: #F4910B;
    box-sizing: border-box; }
    @media screen and (max-width: 995px) {
      .what-parents-saying__slider .wrapper {
        padding: 0; } }
  @media screen and (max-width: 995px) {
    .what-parents-saying__slider {
      flex-direction: column; } }
  .what-parents-saying__slider__contents {
    display: flex;
    justify-content: normal;
    align-items: center; }
    @media screen and (max-width: 995px) {
      .what-parents-saying__slider__contents {
        flex-direction: column;
        row-gap: 50px; } }
  .what-parents-saying figure {
    width: 512px;
    height: 343px; }
    @media screen and (max-width: 995px) {
      .what-parents-saying figure {
        width: 100%; } }

.application-period {
  margin-top: 83px; }
  .application-period .wrapper {
    background: #E5E5E5;
    padding: 70px 0 71px; }
    .application-period .wrapper h4 {
      color: #7A7C80;
      font-size: 33px;
      font-weight: bold;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .application-period .wrapper h4 {
          font-size: 21px; } }
  .application-period__heading {
    color: #7A7C80;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
  .application-period__buttons {
    margin-top: 11px;
    display: flex;
    justify-content: center;
    align-items: normal;
    column-gap: 19px; }
    .application-period__buttons li {
      width: 155px;
      padding: 12px 0;
      border-radius: 8px;
      background-color: #F4910B;
      transition: All ease-in-out 0.3s;
      -webkit-transition: All ease-in-out 0.3s;
      -moz-transition: All ease-in-out 0.3s;
      -ms-transition: All ease-in-out 0.3s;
      -o-transition: All ease-in-out 0.3s; }
      .application-period__buttons li a {
        width: 100%;
        color: #fff;
        font-weight: bold;
        text-align: center;
        transition: All ease-in-out 0.3s;
        -webkit-transition: All ease-in-out 0.3s;
        -moz-transition: All ease-in-out 0.3s;
        -ms-transition: All ease-in-out 0.3s;
        -o-transition: All ease-in-out 0.3s; }
        .application-period__buttons li a:hover {
          color: #0000ff; }
      .application-period__buttons li:hover {
        background-color: #1B5788; }
      @media screen and (max-width: 425px) {
        .application-period__buttons li {
          width: 125px; } }

.application-process {
  margin-top: 84px; }
  .application-process__header .wrapper {
    background-color: #37A4E1; }
    .application-process__header .wrapper h6 {
      color: #fff;
      font-size: 49px;
      font-weight: bold;
      text-align: center; }
      @media screen and (max-width: 768px) {
        .application-process__header .wrapper h6 {
          font-size: 26px; } }
  .application-process__header__title {
    padding: 46px 0 54px; }
  .application-process__header__buttons {
    display: flex;
    justify-content: normal;
    align-items: normal; }
    .application-process__header__buttons button {
      padding: 27px 0;
      flex-basis: 25%;
      border: none;
      background-color: #359EDA;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      transition: All ease-in-out 0.3s;
      -webkit-transition: All ease-in-out 0.3s;
      -moz-transition: All ease-in-out 0.3s;
      -ms-transition: All ease-in-out 0.3s;
      -o-transition: All ease-in-out 0.3s; }
      .application-process__header__buttons button:hover {
        background-color: #14466E; }
      @media screen and (max-width: 995px) {
        .application-process__header__buttons button {
          width: 50%;
          background-color: #14466E;
          display: none; } }
    @media screen and (max-width: 995px) {
      .application-process__header__buttons {
        padding-bottom: 50px;
        flex-direction: column;
        align-items: center; } }
  @media screen and (max-width: 995px) {
    .application-process__header .eligibility {
      display: block; } }
  .application-process__header .eligibility:hover ~ button {
    display: block; }
  @media screen and (max-width: 995px) {
    .application-process__header .eligibility::after {
      content: "";
      font-family: "fontAwesome";
      font-size: 14px;
      margin-left: 10px; } }
  .application-process__content .wrapper {
    display: flex;
    justify-content: normal;
    align-items: normal; }
  .application-process__content__leftpart {
    padding: 5.1% 7% 7.3%;
    flex-basis: 51.3%;
    background-color: #E5E5E5; }
    .application-process__content__leftpart__heading {
      color: #F4910B;
      font-size: 24px; }
    .application-process__content__leftpart__heading2 {
      margin-top: 38px;
      color: rgba(0, 0, 0, 0.7);
      font-size: 24px; }
    .application-process__content__leftpart__rules {
      margin-top: 28px; }
      .application-process__content__leftpart__rules li {
        width: -webkit-fill-available;
        margin-bottom: 15px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 21px; }
        .application-process__content__leftpart__rules li::before {
          content: "\f111";
          color: #F4910B;
          font-family: "fontAwesome";
          font-size: 7px;
          vertical-align: middle;
          margin-right: 3%; }
    .application-process__content__leftpart__schools-title {
      color: rgba(0, 0, 0, 0.7);
      font-size: 24px; }
    .application-process__content__leftpart__schools {
      display: flex;
      justify-content: normal;
      align-items: normal;
      margin-top: 31px;
      flex-direction: column;
      row-gap: 28px; }
      .application-process__content__leftpart__schools__name {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.7); }
      .application-process__content__leftpart__schools a {
        color: rgba(0, 0, 0, 0.5);
        font-size: 20px;
        transition: All ease-in-out 0.3s;
        -webkit-transition: All ease-in-out 0.3s;
        -moz-transition: All ease-in-out 0.3s;
        -ms-transition: All ease-in-out 0.3s;
        -o-transition: All ease-in-out 0.3s; }
        .application-process__content__leftpart__schools a:hover {
          color: #0000ff; }
    @media screen and (max-width: 995px) {
      .application-process__content__leftpart {
        flex-basis: 100%; } }
  .application-process__content__rightpart {
    width: 464px; }
    @media screen and (max-width: 995px) {
      .application-process__content__rightpart {
        display: none; } }
  .application-process__bottom .wrapper {
    background: #37A4E1;
    padding: 68px 0 72px; }
    .application-process__bottom .wrapper h4 {
      color: #fff;
      font-size: 32px;
      font-weight: bold;
      text-align: center; }
      @media screen and (max-width: 995px) {
        .application-process__bottom .wrapper h4 {
          font-size: 21px; } }
  .application-process__bottom__heading {
    color: #7A7C80;
    font-size: 30px;
    font-weight: bold;
    text-align: center; }
  .application-process__bottom__buttons {
    margin-top: 11px;
    display: flex;
    justify-content: center;
    align-items: normal;
    column-gap: 19px; }
    .application-process__bottom__buttons li {
      width: 155px;
      padding: 12px 0;
      border-radius: 8px;
      background-color: #14466E;
      transition: All ease-in-out 0.3s;
      -webkit-transition: All ease-in-out 0.3s;
      -moz-transition: All ease-in-out 0.3s;
      -ms-transition: All ease-in-out 0.3s;
      -o-transition: All ease-in-out 0.3s; }
      .application-process__bottom__buttons li a {
        width: 100%;
        color: #fff;
        font-weight: bold;
        text-align: center; }
      .application-process__bottom__buttons li:hover {
        background-color: #F4910B; }
      @media screen and (max-width: 425px) {
        .application-process__bottom__buttons li {
          width: 125px; } }

footer {
  margin-top: 84px; }
  footer .wrapper {
    padding: 20px 0 45px;
    border-top: 1px solid #F4910B;
    display: flex;
    justify-content: normal;
    align-items: normal; }
    @media screen and (max-width: 995px) {
      footer .wrapper {
        flex-direction: column; } }
  .footer-logo {
    width: 91px;
    height: 50px; }
    @media screen and (max-width: 995px) {
      .footer-logo {
        display: none; } }
  .address-info {
    margin-left: 27.5%;
    border-right: 1px solid #F4910B;
    flex-basis: 15.5%; }
    .address-info address {
      margin-bottom: 8px; }
      .address-info address span {
        width: auto;
        display: block;
        color: rgba(0, 0, 0, 0.6);
        font-size: 12px; }
    .address-info a {
      display: block;
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      transition: All ease-in-out 0.3s;
      -webkit-transition: All ease-in-out 0.3s;
      -moz-transition: All ease-in-out 0.3s;
      -ms-transition: All ease-in-out 0.3s;
      -o-transition: All ease-in-out 0.3s; }
      .address-info a:hover {
        color: #0000ff; }
    @media screen and (max-width: 1280px) {
      .address-info {
        margin-left: 16.5%;
        flex-basis: 23.5%; } }
    @media screen and (max-width: 995px) {
      .address-info {
        padding-bottom: 20px;
        margin-left: 0;
        border-right: none;
        border-bottom: 1px solid #F4910B; } }
  footer .social-media {
    padding: 0 4.1%; }
    footer .social-media__icons {
      width: 77%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      margin-left: 5%;
      margin-top: 15px; }
      @media screen and (max-width: 995px) {
        footer .social-media__icons {
          width: 30%; } }
      footer .social-media__icons li a img {
        width: 16px;
        height: 16px; }
      @media screen and (max-width: 425px) {
        footer .social-media__icons {
          width: 50%; } }
    footer .social-media__get-to-know {
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px; }
    footer .social-media__stay-in-touch {
      margin-top: 11px;
      color: #1D5A8A;
      font-size: 13px;
      font-weight: bold;
      white-space: nowrap;
      transition: All ease-in-out 0.3s;
      -webkit-transition: All ease-in-out 0.3s;
      -moz-transition: All ease-in-out 0.3s;
      -ms-transition: All ease-in-out 0.3s;
      -o-transition: All ease-in-out 0.3s; }
      footer .social-media__stay-in-touch::after {
        content: "";
        font-family: "fontAwesome";
        font-size: 13px;
        margin-left: 4%; }
        @media screen and (max-width: 995px) {
          footer .social-media__stay-in-touch::after {
            content: "";
            font-family: "fontAwesome";
            font-size: 0; } }
      @media screen and (max-width: 995px) {
        footer .social-media__stay-in-touch {
          width: 100%;
          padding: 20px 0;
          background-color: #F4910B;
          color: #fff;
          text-align: center; } }
      footer .social-media__stay-in-touch:hover {
        color: #F4910B; }
    @media screen and (max-width: 995px) {
      footer .social-media {
        padding: 20px 0; } }
  .footer-block-title {
    margin-bottom: 16px;
    width: 60%;
    color: orange;
    font-size: 13px;
    font-weight: bold; }
  .quick-links {
    padding: 0 3%;
    border-right: 1px solid #F4910B;
    flex-basis: 18.2%; }
    .quick-links__lists {
      display: flex;
      justify-content: space-between;
      align-items: normal; }
      .quick-links__lists ul {
        display: flex;
        justify-content: normal;
        align-items: normal;
        flex-direction: column;
        row-gap: 5px; }
      .quick-links__lists a {
        display: block;
        color: rgba(0, 0, 0, 0.6);
        font-size: 12px;
        transition: All ease-in-out 0.3s;
        -webkit-transition: All ease-in-out 0.3s;
        -moz-transition: All ease-in-out 0.3s;
        -ms-transition: All ease-in-out 0.3s;
        -o-transition: All ease-in-out 0.3s; }
        .quick-links__lists a:hover {
          color: #0000ff; }
      @media screen and (max-width: 995px) {
        .quick-links__lists {
          flex-direction: column;
          row-gap: 5px; } }
    .quick-links__lists {
      margin-top: 22px; }
    @media screen and (max-width: 995px) {
      .quick-links {
        padding: 20px 0;
        border-right: none;
        border-bottom: 1px solid #F4910B; } }
